:root {
  --primary:#FFF;
  --secondary:#000;
}

* {
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Audiowide', cursive;
  margin: 0;
  padding: 0;
}

html {
  background: var(--secondary);
  color: var(--primary);
}

body{
  height: 100vh;
  width: 100vw;
}

main{
  width: 60%;
  height: 60%;
  display: block;
  margin: 10rem auto;
}

h1{
  font-size: 5rem;
}

h2{
  margin-top: 1rem;
}

.hoi{
  font-size: 12rem;
}

img{
  width: 70%;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.teamnaam{
  margin-bottom: 1rem;
}

a{
  color: #FFF;
  text-decoration: none;
}

.rainbow:hover {
  cursor: grab;
  -webkit-animation:rainbow 1s infinite;
  -ms-animation:rainbow 1s infinite;
  -o-animation:rainbow 1s infinite;
  animation:rainbow 1s infinite;
  }
  @-webkit-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @-ms-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @-o-keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
  @keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }